<div class="activities">
  <div class="col-sm-12">
    <div class="row">
      {{#common/tabbing-tab onTabHasChange=(action 'onTabHasChange')}}
        <ul>
          <li><a href="#tabs1">My Trip</a></li>
          <li><a href="#tabs2">My Point</a></li>
        </ul>
        <div id="tabs1">
          <div class="info">
            <div class="pull-right">
              <span>25</span>
            </div>
            <div class="media-body">
              <span>Subscriber</span>
            </div>
          </div>
          <div class="info">
            <div class="pull-right">
              <span>25</span>
            </div>
            <div class="media-body">
              <span>Subscribing</span>
            </div>
          </div>
          <div class="info">
            <div class="pull-right">
              <span>25</span>
            </div>
            <div class="media-body">
              <span>Gallery</span>
            </div>
          </div>
          <div class="info">
            <div class="pull-right">
              <span>21</span>
            </div>
            <div class="media-body">
              <span>Created Map Guide</span>
            </div>
          </div>
        </div>
        <div id="tabs2">
          <div class="info">
            <div class="pull-right">
              <span>25</span>
            </div>
            <div class="media-body">
              <span>Total Point</span>
            </div>
          </div>
          <div class="info">
            <div class="pull-right">
              <span>25</span>
            </div>
            <div class="media-body">
              <span>Review</span>
            </div>
          </div>
          <div class="info">
            <div class="pull-right">
              <span>20</span>
            </div>
            <div class="media-body">
              <span>Ratting</span>
            </div>
          </div>
        </div>
      {{/common/tabbing-tab}}
    </div>
  </div>
</div>