<div class="album">
  <div class="col-sm-12">
    <div class="inner">
      <div class="shadow">
        <div class="icon">
          <div class="heart">
            <span class="ion ion-heart"></span>
            <span>21</span>
          </div>
          <div class="comment">
            <span class="ion ion-chatbubble"></span>
            <span>21</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="inner">
      <div class="shadow">
        <div class="icon">
          <div class="heart">
            <span class="ion ion-heart"></span>
            <span>21</span>
          </div>
          <div class="comment">
            <span class="ion ion-chatbubble"></span>
            <span>21</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="inner">
      <div class="shadow">
        <div class="icon">
          <div class="heart">
            <span class="ion ion-heart"></span>
            <span>21</span>
          </div>
          <div class="comment">
            <span class="ion ion-chatbubble"></span>
            <span>21</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="inner">
      <div class="shadow">
        <div class="icon">
          <div class="heart">
            <span class="ion ion-heart"></span>
            <span>21</span>
          </div>
          <div class="comment">
            <span class="ion ion-chatbubble"></span>
            <span>21</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="addphoto">
    <div class="inner">
      <div class="inside">
        <div class="wrapper">
          <a class="btn btn-primary">
            <i class="ion-plus-round ion"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>