<div class="index">
  <div class="index-section">
    <p>I will Show You</p>
    <p>to ruins galaxy</p>
  </div>
  <div class="index-section">
    <p>Language</p>
    <p>Javanese, Indonesia</p>
  </div>
  <div class="index-section">
    <p>Activities</p>
    <div>
      <div class="col-sm-6 pad-right-15px"><span>Culture</span></div>
      <div class="col-sm-6 pad-right-15px"><span>History</span></div>
      <div class="col-sm-6 pad-right-15px"><span>Art</span></div>
    </div>
  </div>
  <div class="index-section">
    <p>Review</p>
    <div class="review-wrapper">
      <div class="review-inner">
        <div class="name">
          <span>Choky</span>
          <div class="rateyo"></div>
        </div>
        <div class="desc">
          <p>Lorem ipsum dolor sit amet, consectetur
            adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
        </div>
      </div>
    </div>
  </div>
</div>
