{{#common/window-scroll action="onScroll"}}
  <div class="map-guide-profile">
    <div class="row mapguideWrapper">
      <div class="col-sm-12 no-padding margintop15px">
        {{#each mapGuides as |mapGuide indexParent|}}
          <div class="col-sm-4 marginbottom30px map-guide-item">
            <div class="map-guide-item-wrapper">
              <div class="rateyo-shadow"></div>
              <div class="cust3">
                <div id="myCarousel{{indexParent}}" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    {{#each mapGuide.venues as |venue indexChild|}}
                      <li data-target="#myCarousel{{indexParent}}" data-slide-to="{{indexChild}}"
                          class="{{if (eq indexChild 1) "active"}}"></li>
                    {{/each}}
                  </ol>
                  <div class="carousel-inner">
                    {{#each mapGuide.venues as |venue indexChild|}}
                      <div class="item {{if (eq indexChild 1) "active"}} cust2"
                           style="background-image: url('http://192.168.0.10/cdn/{{venue.images.[0].name}}');"></div>
                    {{/each}}
                  </div>
                </div>
              </div>
              {{common/rateyo-rate class="rate-wrapper" options = options rate = mapGuide.rating}}
              <div class="inner">
                {{#link-to 'backend.timeline.map-guide-detail' mapGuide.id class="inside" tagName="div"}}
                  <p>{{mapGuide.name}}</p>
                  <p>{{mapGuide.location.cityInEnglish}}, {{mapGuide.location.cityInBahasa}}</p>
                  <p>{{mapGuide.location.country}}</p>
                {{/link-to}}
              </div>
              <div class="icon-wrapper">
                <i class="ion ion-compass"></i>
              </div>
            </div>
          </div>
        {{/each}}
        {{#if isLoadingDisplayed}}
          <div class="col-sm-4 marginbottom30px loadingMapGuideFeed">
            <div class="inner">
              <div class="inside">
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 marginbottom30px loadingMapGuideFeed">
            <div class="inner">
              <div class="inside">
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 marginbottom30px loadingMapGuideFeed">
            <div class="inner">
              <div class="inside">
                <div></div>
                <div></div>
                <div></div>
              </div>
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
{{/common/window-scroll}}