$primarry_green: #149E91;
$color_primary_yellow: #FCCD52;

@-moz-keyframes mapguideFeed {
  0%, 100% {
    background: #F0F2E9;
  }
  25% {
    background: #D0D6BA;
  }
  50% {
    background: #A9B381;
  }
  75% {
    background: white;
  }
}
@-webkit-keyframes mapguideFeed {
  0%, 100% {
    background: #F0F2E9;
  }
  25% {
    background: #D0D6BA;
  }
  50% {
    background: #A9B381;
  }
  75% {
    background: white;
  }
}
@keyframes mapguideFeed {
  0%, 100% {
    background: #F0F2E9;
  }
  25% {
    background: #D0D6BA;
  }
  50% {
    background: #A9B381;
  }
  75% {
    background: white;
  }
}

@-moz-keyframes loading {
  0% {
  background: linear-gradient(90deg, $primarry_green, $color_primary_yellow 0%);
  }
  20% {
  background: linear-gradient(90deg, $primarry_green, $color_primary_yellow 10%);
  }
  30% {
  background: linear-gradient(90deg, $primarry_green, $color_primary_yellow 20%);
  }
  40% {
  background: linear-gradient(90deg, $primarry_green, $color_primary_yellow 30%);
  }
  50% {
  background: linear-gradient(90deg, $primarry_green, $color_primary_yellow);
  }
  60% {
  background: linear-gradient(90deg, $primarry_green 60%, $color_primary_yellow);
  }
  70% {
  background: linear-gradient(90deg, $primarry_green 70%, $color_primary_yellow);
  }
  80% {
  background: linear-gradient(90deg, $primarry_green 80%, $color_primary_yellow);
  }
  90% {
  background: linear-gradient(90deg, $primarry_green 90%, $color_primary_yellow);
  }
  100% {
  background: linear-gradient(90deg, $primarry_green 100%, $color_primary_yellow);
  }
}
@-webkit-keyframes loading {
  0% {
  background: linear-gradient(90deg, $primarry_green, $color_primary_yellow 0%);
  }
  20% {
  background: linear-gradient(90deg, $primarry_green, $color_primary_yellow 10%);
  }
  30% {
  background: linear-gradient(90deg, $primarry_green, $color_primary_yellow 20%);
  }
  40% {
  background: linear-gradient(90deg, $primarry_green, $color_primary_yellow 30%);
  }
  50% {
  background: linear-gradient(90deg, $primarry_green, $color_primary_yellow);
  }
  60% {
  background: linear-gradient(90deg, $primarry_green 60%, $color_primary_yellow);
  }
  70% {
  background: linear-gradient(90deg, $primarry_green 70%, $color_primary_yellow);
  }
  80% {
  background: linear-gradient(90deg, $primarry_green 80%, $color_primary_yellow);
  }
  90% {
  background: linear-gradient(90deg, $primarry_green 90%, $color_primary_yellow);
  }
  100% {
  background: linear-gradient(90deg, $primarry_green 100%, $color_primary_yellow);
  }
}
@keyframes loading {
  0% {
  background: linear-gradient(90deg, $primarry_green, $color_primary_yellow 0%);
  }
  20% {
  background: linear-gradient(90deg, $primarry_green, $color_primary_yellow 10%);
  }
  30% {
  background: linear-gradient(90deg, $primarry_green, $color_primary_yellow 20%);
  }
  40% {
  background: linear-gradient(90deg, $primarry_green, $color_primary_yellow 30%);
  }
  50% {
  background: linear-gradient(90deg, $primarry_green, $color_primary_yellow);
  }
  60% {
  background: linear-gradient(90deg, $primarry_green 60%, $color_primary_yellow);
  }
  70% {
  background: linear-gradient(90deg, $primarry_green 70%, $color_primary_yellow);
  }
  80% {
  background: linear-gradient(90deg, $primarry_green 80%, $color_primary_yellow);
  }
  90% {
  background: linear-gradient(90deg, $primarry_green 90%, $color_primary_yellow);
  }
  100% {
  background: linear-gradient(90deg, $primarry_green 100%, $color_primary_yellow);
  }
}
