//@import "bootstrap";
//@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import "bootstrapcust";
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900');
@import "font-awesome";
@import "animate";
@import "breadcrumb";
@import "login";
@import "post";
@import "ionicons";
@import "animationKeyframe";
//@import url('/circular/CircularAirPro-Bold.ttf');
//@import url('/circular/CircularAirPro-Book.ttf');
//@import url('/circular/CircularAirPro-Light.ttf');

$primarry_green: #149E91;
$color_text_primarry: #323337;
$color_body_primarry: #F0F2E9;
$color_border_primarry: #eaeaea;
$color_primary_blue: #03a9f4;
$color_text_young: #c4c4c4;
$color_border_young: #e4e4e4;
$color_primary_yellow: #FCCD52;
$color_primary_orange: #DC4937;

$color_body_primarry_step1: #D0D6BA;
$color_gradient_1: linear-gradient(90deg, #4cb8c4, #3cd3ad);
@font-face {
  font-family: 'Circular light';
  src: url('/circular/CircularAirPro-Light.ttf');
}

@font-face {
  font-family: 'Circular book';
  src: url('/circular/CircularAirPro-Book.ttf');
}

@font-face {
  font-family: 'Circular bold';
  src: url('/circular/CircularAirPro-Bold.ttf');
}

body {
  background: $color_body_primarry;
}

h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: 'Circular book', Nunito, sans-serif;
}

.margintop15px {
  margin-top: 15px !important;
}

.marginbottom15px {
  margin-bottom: 15px !important;
}

.marginright15px {
  margin-right: 15px !important;
}

.overflow-auto {
  overflow: auto;
}

.marginleft15px {
  margin-left: 15px !important;
}

.post-ctr {
  cursor: pointer;
}

.position-relative {
  position: relative;
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.custom-penawaran {
  .penawaran-inner {
    height: 350px;
    background: $color_gradient_1;
    overflow: auto;
    .center-absolute {
      text-align: center;
      img {
        border: 5px solid white;
        width: 120px;
        height: 120px;
      }
      > p {
        font-family: ' Circular bold ', ' Nunito ', sans-serif;
        color: white;
        font-size: 35px;
        margin-bottom: 0px;
      }
      .text {
        color: white;
        margin-top: -5px;
        p {
          font-size: 16px;
          font-family: ' Circular light ', ' Nunito ', sans-serif;
        }
      }
    }
    .detail-icon-wrapper {
      position: absolute;
      bottom: 0px;
      padding: 15px;
      width: 100%;
      border-top: 3px solid white;
      div {
        text-align: center;
        span {
          color: white;
          padding-right: 10px;
          font-size: 16px;
          //border-right: 2px solid white;
          padding-left: 10px;
          font-family: ' Circular book ', ' Nunito ', sans-serif;
          i {
            margin-right: 10px;
          }
          &:first-child {
            padding-left: 0px;
          }
          &:last-child {
            span {
              font-weight: bold;
            }
            border: none;
          }
        }
      }
    }
  }
  border: 0px;
  position: relative;
}

.trip-plan-post {
  .response-post-v2 {
    .pull-left {
      p {
        font-size: 15px;
        font-weight: 300;
        font-family: ' Circular book ', ' Nunito ', sans-serif;
        span {
          margin-right: 10px;
          font-size: 15px !important;
        }
      }
    }
    .media-body {
      .icon-wrapper {
        &:first-child {
          margin-left: 15px;
        }
        margin-right: 0px;
      }
    }
    padding: 15px 15px 0 15px;
    overflow: auto;
  }
  .bg {
    .bg-inner {
      position: absolute;
      width: 100%;
      height: 100%;
      background: transparent;
      &:hover {
        background: rgba(0, 0, 0, .3);
        .user-reference {
          opacity: 1.0;
        }
        //span.title {
        //  //opacity: 0.0;
        //}
      }
      .user-reference {
        opacity: 0.0;
        .margintop15px {
          span {
            > span {
              margin-right: 5px;
              font-weight: bold;
              color: $color_primary_blue;
              font-size: 15px;
            }
            color: white;
            font-size: 15px;
          }
        }
        img {
          width: 120px;
          border: 4px solid $color_body_primarry;
        }
        display: table;
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -30%);
        text-align: center;
      }
      span.title {
        color: white;
        font-size: 15px !important;
        font-weight: bold;
        background: $color_primary_blue;
        padding: 10px;
        position: absolute;
        right: 0px;
        bottom: 0px;
      }
    }
    background-image: url('
  http: //lorempixel.com/700/700');
    height: 300px;
    background-size: cover;
    background-position: center;
    margin: -17px -15px 0 -15px;
    position: relative;
  }

}

.comment-content-overide {
  .comment-feed {
    margin-left: 0px;
    .media-body {
      span {
        > span {
          color: $color_primary_blue;
          margin-right: 5px;
          font-weight: bold;
        }
      }
    }
  }
}

.sidebar-timeline {
  div {
    font-family: 'Circular light', 'Nunito', sans-serif;
    font-weight: 300;
  }
  .fa.fa-usd {
    width: 15px;
  }
  ul {
    .inner {
      .fa-circle {
        font-size: 8px;
        color: $color_border_young;
      }
      li {
        padding-left: 30px;
        &:hover {
          background: $color_border_young;
        }
      }
    }
    li {
      border-radius: 0px !important;
      cursor: pointer;
    }
    li.profile-wrapper {
      .profile-wrapper-inner {
        position: relative;
        overflow: auto;
        height: 200px;
        background-image: url('http://lorempixel.com/500/500');
        margin: -10px -15px;
        background-size: cover;
        background-position: center;
        .profile-wrapper-inside {
          position: absolute;
          left: 0px;
          top: 0px;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, .5);
          .text-center {
            img {
              width: 70px;
              height: 70px;
              border: 3px solid $color_primary_blue;
            }
            .text-wrapper {
              p {
                &:first-child {
                  font-size: 16px;
                  margin-top: 5px;
                }
                &:nth-child(2) {
                  font-weight: 300;
                  font-size: 13px;
                }
                &:last-child {
                  font-weight: bold;
                  font-size: 13px;
                  color: $color_primary_blue;
                }
                color: white;
                margin: 0px;
              }
            }
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}

.index-content-wrapper {
  overflow: auto;
  padding: 15px;
  .middle-section {
    margin: 30px 0;
  }
  .col-sm-6, .col-sm-4 {
    cursor: pointer;
    margin-bottom: 30px;
  }
  a.btn-show-more {
    border: 0px;
    font-weight: bold;
    &:hover {
      color: $color_primary_orange;
      background: transparent;
      border: 2px solid $color_primary_orange;
    }
    background: $color_primary_orange;
  }
  p.subtitle-index {
    font-size: 25px;
    margin: 0px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
    color: $color_text_primarry;
  }
  .trip-item {
    &:hover {
      .header-overlay {
        opacity: 0.0;
      }
      .title-wrapper {
        background: $color_primary_orange !important;
      }
      box-shadow: 3px 3px 10px $color_border_young;
    }
    .hideword {
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 40px;
      background: linear-gradient(180deg, transparent, $color_border_primarry);
    }
    .content {
      overflow: auto;
      padding: 15px;
      .pull-left {
        padding-right: 10px;
        img {
          width: 30px;
          height: 30px;
        }
      }
      .media-body {
        span {
          color: $color_text_primarry;
          font-weight: 300;
          font-style: italic;
          font-size: 13px;
        }
        padding-left: 10px;
        border-left: 1px solid $color_text_young;
      }
    }
    .trip-item-bg {
      .title-wrapper {
        span {
          color: white;
          font-weight: bold;
          font-size: 30px;
          text-shadow: 0 1px 1px rgba(0, 0, 0, .4)
        }
        position: absolute;
        bottom: 0px;
        left: 0px;
        padding: 5px 15px;
        background: $color_primary_yellow;
      }
      .price-wrapper {
        position: absolute;
        right: 0px;
        top: 15px;
        background: $color_primary_blue;
        padding: 5px 15px;
        span {
          color: white;
          font-weight: bold;
          font-size: 16px;
          span {
            font-size: 20px;
          }
        }
      }
      .bg {
        height: 200px;
        background-image: url('http://lorempixel.com/600/600');
        background-position: center;
        background-size: cover;
      }
      .header-overlay {
        height: 200px;
      }
      position: relative;
    }
    background: white;
    overflow: hidden;
    height: 300px;
    position: relative;
    //.rateyo-wrapper {
    //  position: absolute;
    //  right: 15px;
    //  top: 15px;
    //}

  }
  .guide-item {
    .price-shadow {
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 80px;
      background: linear-gradient(180deg, transparent, white, $color_border_primarry);
    }
    background: white;
    overflow: auto;
    &:hover {
      box-shadow: 3px 3px 10px $color_border_young;
    }
    > .pull-left {
      width: 200px;
      height: 200px;
    }
    > .media-body {
      .price {
        position: absolute;
        bottom: 15px;
        right: 15px;
        span {
          font-weight: 900;
          color: $color_primary_blue;
          span {
            font-size: 20px;
          }
        }
      }
      .quote-wrapper {
        position: relative;
        overflow: auto;
        padding: 0 10px;
        > div {
          border-top: 1px solid $color_text_young;
          border-bottom: 1px solid $color_text_young;
          //$color_text_young;
          padding: 10px 0;
          span {
            &:first-child {
              margin-right: 10px;
            }
            &:last-child {
              margin-left: 10px;
            }
          }
          span.quotemain {
            font-size: 16px;
            font-weight: 300;
            font-style: italic;
          }
          span.fa {
            font-size: 20px;
            color: $color_text_young;
          }
        }
      }
      .title {
        overflow: auto;
        padding: 10px;
        .pull-left {
          position: relative;
          p:first-child {
            font-family: 'Circular bold', sans-serif;
            font-weight: bold;
            font-size: 20px;
            margin-bottom: 0px;
          }
          p:nth-child(2) {
            font-family: 'Circular book', sans-serif;
            color: $color_text_young;
            margin-bottom: 0px;
            font-size: 12px;
          }
        }
      }
      .rateyo-wrapper {
        position: absolute;
        right: 15px;
        top: 15px;
      }
      height: 200px;
      width: auto;
      position: relative;
    }
  }
}

.ember-cli-g-map {
  height: 300px;
}

.navbar-wrapper {
  position: absolute;
  z-index: 1;
}

nav.navbar {
  border-radius: 0px;
  background: white;
  border: 0px;
  min-height: 52px;
  box-shadow: 1px 1px 5px $color_border_young;
  li {
    cursor: pointer;
  }
  .ul-options {
    box-shadow: 1px 1px 5px $color_border_primarry;
    &::before {
      content: "";
      top: -10px;
      border: 10px solid transparent;
      border-top: 0;
      border-bottom-color: white;
      position: absolute;
      right: 56px;
    }
    li {
      &:hover {
        background: $color_border_primarry;
      }
      border: 0px;
      border-radius: 0px;
      a {
        color: $color_text_primarry;
        font-family: "Circular bold";
      }
    }
    position: absolute;
    margin-bottom: 0px;
    right: 102px;
    z-index: 2;
    width: 137px;
    top: 70px;
  }
  .container1024, .container800 {
    position: relative;
    overflow: inherit;
  }
  .navbar-header {
    margin-right: 15px;
    a {
      img {
        height: 26px;
      }
    }
  }
  .navbar-right {
    margin-right: 0px;
    li {
      a {
        .user-info-navbar {
          .pull-left {
            img {
              margin-top: -5px;
              width: 30px;
              height: 30px;
            }
            margin-right: 10px;
          }
          .media-body {
            span {
              &:first-child {
                font-family: 'Circular book';
              }
              margin-right: 5px;
            }
            width: auto;
          }
        }
        img {
          height: 20px;
        }
      }
      border-right: 1px solid $color_border_primarry;
      border-left: 1px solid $color_border_primarry;
      &:last-child {
        border-right: 0px;
      }
    }
  }
  ul {
    li {
      a {
        //font-weight: 600;
        font-family: 'Circular book';
        color: $color_text_primarry !important;
      }
    }
    .active {
      a {
        padding: 14px !important;
        background-color: transparent !important;
      }
      border-bottom: 3px solid $primarry_green;
    }
  }
}

.container1024 {
  max-width: 1024px;
  margin: 0 auto;
  overflow: auto;
}

.container800 {
  max-width: 800px;
  margin: 0 auto;
  overflow: auto;
}

.map-guide-detail2 {
  .map-wrapper {
    height: 300px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px $color_text_young;
  }
  .comment-wrapper {
    .input-group {
      button {
        border-radius: 0px;
        background: $primarry_green;
        color: white;
        border-color: $primarry_green;
      }
    }
    > .content {
      padding: 15px;
      > .item {
        .media-body {
          p {
            &:last-child {
              margin-top: 5px;
            }
            font-size: 13px;
            font-family: 'Circular light', 'Nunito', sans-serif;
            margin-bottom: 0px;
          }
        }
        .pull-left {
          img {
            width: 30px;
            height: 30px;
          }
          margin-right: 15px;
        }
        overflow: auto;
        border-bottom: 1px solid $color_border_primarry;
        padding: 10px 0;
      }
    }
    background: white;
    overflow: auto;
    padding: 15px;
  }
  .venuepoint {
    > .arrow-left {
      left: 15px;
      background: linear-gradient(90deg, white, transparent);
    }
    > .arrow-right {
      right: 15px;
      background: linear-gradient(90deg, transparent, white);
    }
    > .arrow-right, > .arrow-left {
      i {
        font-size: 30px;
        padding: 0 10px;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
        left: 50%;
      }
      &:hover {
        opacity: 1.0;
      }
      opacity: 0.0;
      z-index: 2;
      cursor: pointer;
      position: absolute;
      height: calc(100% - 61.6px);
      color: white;
      top: 47px;
      width: 50px;
    }
    .slick-slide {
      //display: none;
      float: left;
      height: 100%;
      min-height: 1px;
    }
    .content {
      height: auto;
      width: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      .rateyo-shadow {
        .rate {
          position: absolute;
          left: 15px;
          top: 15px;
        }
        z-index: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.8), transparent);
        position: absolute;
        width: 100%;
        height: 100px;
        top: 0px;
      }
      .item {
        .desc {
          .blocker {
            position: absolute;
            bottom: 0px;
            margin: 0 -15px;
            width: 100%;
            height: 40px;
            background: linear-gradient(180deg, transparent, black);
          }
          .pull-right {
            width: 30px;
            height: 21px;
          }
          .media-body {
            font-size: 20px;
            color: white;
            font-weight: bold;
          }
          p {
            &:last-child {
              margin: 5px 0 0 0;
              font-size: 13px;
            }
            &:first-child {
              margin-bottom: 0px;
            }
            color: white;
            font-family: 'Circular light', 'Nunito', sans-serif;
          }
          position: absolute;
          bottom: 0px;
          width: 100%;
          padding: 15px;
          background: rgba(0, 0, 0, .5);
          height: 150px;
          overflow: hidden;
        }
        .icon {
          i {
            color: white;
            font-size: 20px;
            cursor: pointer;
          }
          i.fa-heart {
            color: red;
          }
          position: absolute;
          right: 15px;
          top: 15px;
          z-index: 2;
        }
        background-position: center;
        background-repeat: no-repeat;
        height: 300px;
        width: 400px;
        margin-right: 15px;
        display: table;
        position: relative;
        cursor: pointer;
      }
    }
    h2 {
      font-size: 16px;
      margin: 0px 0px 15px 0px;
      font-weight: bold;
    }
    background: white;
    position: relative;
    padding: 15px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px $color-text_young;
  }
  .infocontent {
    > .inner {
      .pull-right {
        .rate-wrapper {
          position: absolute;
          right: 0px;
        }
        width: 300px;
        height: 21px;
        //background: red;
        overflow: auto;
        margin-top: 6px;
      }
      .media-body {
        font-size: 30px;
        color: white;
        font-weight: bold;
      }
      p {
        &:last-child {
          margin: 5px 0 0 0;
          font-size: 13px;
        }
        &:first-child {
          margin-bottom: 0px;
        }
        color: white;
        font-family: 'Circular light', 'Nunito', sans-serif;
      }
      position: absolute;
      bottom: 0px;
      width: 100%;
      padding: 15px;
      background: rgba(0, 0, 0, .5);
    }
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    background-size: cover;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px $color_text_young;
  }
}

.header-bg {
  position: relative;
  height: 550px;
  background-image: url("/image/head.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
  .header-bg-wrapper {
    padding: 20px 45px 45px 45px;
    position: relative;
    .carousel-mini-wrapper {
      position: absolute;
      bottom: 0px;
      right: 45px;
      .show-on-hover {
        position: absolute;
        left: 0px;
        top: 110px;
        width: 100%;
        p {
          text-align: center;
          margin: 0px;
          span {
            cursor: pointer;
            font-size: 80px;
            color: $color_body_primarry;
            text-align: center;
          }
        }
      }
      > p {
        text-align: center;
        font-size: 30px;
        font-weight: 900;
        text-transform: uppercase;
        color: $color_body_primarry;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
      }
      .carousel-control {
        background: transparent;
        height: 200px;
        i {
          position: absolute;
          top: 50%;
          left: 50%;
          cursor: pointer;
          transform: translate(-50%, -50%);
        }
      }
      .carousel-inner {
        img {
          text-align: center;
          width: 200px;
          position: relative;
          left: 50%;
          top: 50%;
          transform: translate(-50%);
        }
        p {
          margin: 0px;
          margin-top: 20px;
          text-align: center;
          color: $color_body_primarry;
          font-size: 15px;
          font-weight: bold;
        }
      }
      .carousel-indicators {
        bottom: -40px;
      }
    }
    .header-bg-wrapper-inner {
      .nav-header-bg {
        display: table;
        width: 100%;
        a {
          float: left;
          img {
            width: 70px;
          }
        }
        .iconsearch-header {
          display: table;
          float: right;
          height: 40px;
          padding-left: 15px;
          a {
            img {
              width: 25px;
              margin-top: 10px;
            }
          }
        }
        .user-info-navbar-header {
          .user-info-navbar-header-inner {
            .pull-left {
              margin-right: 10px;
              cursor: pointer;
              img {
                width: 40px;
                height: 40px;
                border: 2px solid $color_body_primarry;
              }
            }
            .media-body {
              width: auto;
              vertical-align: middle;
              cursor: pointer;
              span {
                &:first-child {
                  margin-right: 5px;
                  font-weight: bold;
                }
                color: #F0F2E9;
                font-size: 16px;
              }
            }
            vertical-align: middle;
            display: table;
            padding-right: 15px;
            border-right: 1px solid $color_body_primarry;
            float: left;
          }
          float: right;
          vertical-align: middle;
          display: table-cell;
        }
      }
      .header-bg-inside {
        margin-top: 50px;
        p.hint {
          margin-top: 15px;
          color: $color_body_primarry;
          font-size: 17px;
          span {
            font-weight: bold;
          }
        }
        p:first-child {
          font-size: 53px;
          font-weight: 900;
          text-transform: uppercase;
          color: $color_body_primarry;
          text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
          margin: 0px;
        }
        p:nth-child(2) {
          text-transform: uppercase;
          color: $color_body_primarry;
          font-size: 53px;
          text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
          margin-top: -20px;
        }
        .input-group {
          width: 600px;
          input {
            border-radius: 0px;
          }
          span.search {
            font-weight: 300;
            background: $color_primary_blue;
            color: white;
            border: $color_primary_blue;
            border-radius: 0px;
          }
          span.icon {
            img {
              width: 18px;
            }
          }
        }
      }
      display: table;
      width: 100%;
      z-index: 2;
      position: relative;
    }
  }
}

.header-overlay {
  background: linear-gradient(135deg, rgba(3, 169, 244, .35) 0, rgba(167, 219, 216, .35) 44%, rgba(243, 134, 48, .35) 100%) rgba(0, 0, 0, .15);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.width100 {
  width: 100%;
}

.cust-height {
  height: 200px;
}

.window-scroll {
  overflow: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.margintop-7_5px {
  margin-top: -7.5px;
}

.marginleft-3_75px {
  margin-left: -3.75px;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-inherrit {
  overflow: inherit;
}

.overflow-initial {
  overflow: initial;
}

.arrow-slick {
  width: 100%;
  z-index: 1000;
  .pull-left {
    margin-left: 7.5px;
  }
  .pull-right {
    margin-right: 7.5px;
  }
  i {
    color: white;
    font-size: 50px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
  }
}

.pad-left-right40 {
  padding: 0 40px;
}

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px;
}

.middle-section {
  .middle-bg {
    background-image: url('/image/middle.jpg');
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .content {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 0;
    a.btn {
      border: 0px;
      &:hover {
        background: $color_primary_blue;
        box-shadow: 1px 1px 5px #00E2F4;
      }
    }
    p.breadcrumb-outer {
      margin: 0px;
    }
    > p {
      text-transform: uppercase;
      font-size: 45px;
      font-weight: 900;
      text-align: center;
      color: $color_body_primarry;
    }
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
  }
  .middle-bg-overlay {
    position: absolute;
    z-index: 0;
    left: -15px;
    top: 0px;
    width: calc(100% + 30px);
    height: 100%;
    background: rgba(0, 0, 0, .3);
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.breadcrumb {
  margin-bottom: 10px;
  a:first-child {
    &:before {
      background: white;
      color: $color_text_primarry;
    }
    &:after {
      background: $color_primary_blue !important;
    }
    background: $color_primary_blue !important;
  }
  a:nth-child(2) {
    &:before {
      background: white;
      color: $color_text_primarry;
    }
    &:after {
      background: $color_primary_orange !important;
    }
    background: $color_primary_orange !important;
  }
  a:last-child {
    &:before {
      background: white;
      color: $color_text_primarry;
    }
    &:after {
      background: $color_primary_yellow !important;
    }
    background: $color_primary_yellow !important;
  }
}

.btn-primary {
  background: $color_primary_blue;
}

.pad-45px-left-ri {
  padding: 0 45px;
}

.margintop60px {
  margin-top: 60px !important;
}

.no-border-radius {
  border-radius: 0px !important;
}

.no-border {
  border: 0px;
}

.pad-left-15px {
  padding: 0px 0px 0px 15px;
}

.pad-right-15px {
  padding: 0px 15px 0px 0px;
}

.radio-gropup-guide {
  text-align: center;
  border: 1px solid $color_text_young;
  padding: 15px;
  border-radius: 10px;
  background: white;
}

.border-right-1px {
  border-right: 1px solid $color_border_primarry;
}

.marginright13px {
  margin-right: 13px;
}

#price-slider {
  overflow: auto;
  margin-bottom: 15px;
}

.price-val {
  .media-body {
    margin-top: 6px;
  }
  input {
    width: 70px;
  }
}

.cust-1 {
  margin-left: -7.5px;
  //width: calc(100% + 15px);
  height: 300px;
  background: url('http://lorempixel.com/1000/800') no-repeat center;
  background-size: cover;
  //background-attachment: fixed;
}

.pad-left-right7_5 {
  padding: 0 7.5px !important;
}

.search-nav-wrapper {
  .text-right.container1024, .text-right.container800 {
    a {
      margin: 15px 0;
      border: 0px;
    }
  }
  .input-wrapper {
    > span {
      display: table;
      height: 34px;
      form {
        label.radio-inline {
          i.ion {
            font-size: 20px;
            color: $color_border_primarry;
          }
          > input {
            &:checked + label i.ion {
              color: $primarry_green;
              text-shadow: 0px 0px 3px $primarry_green;
            }
            opacity: 0;
          }
          margin: 0px;
          padding: 0px 15px;
        }
        text-align: center;
        display: flex;
        vertical-align: middle;
      }
    }
    input {
      border: 0px;
      border-bottom: 1px solid $color_border_primarry;
      border-radius: 0px;
      box-shadow: none;
      width: calc(100% - 136px);
    }
    display: flex;
    width: 1024px;
    margin: 10px auto 0 auto;
  }
  i.ion-close-round {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    color: #149E91;
  }
}

.map-guide-item {
  cursor: pointer;
  overflow: auto;
  &:hover {
    box-shadow: 3px 3px 5px $color_border_primarry;
  }
  .map-guide-item-wrapper {
    height: 350px;
    //background-image: url('http://lorempixel.com/700/700');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 6px;
    .rateyo-shadow {
      background: linear-gradient(rgba(0, 0, 0, 0.8), transparent);
      position: absolute;
      width: 100%;
      z-index: 20;
      height: 100px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
    .rate-wrapper {
      position: absolute;
      overflow: hidden;
      top: 10px;
      right: 10px;
      z-index: 30;
    }
    .inner {
      position: absolute;
      bottom: 0px;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .80));
      height: auto;
      width: 100%;
      padding: 30px 15px 15px 15px;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
      .inside {
        overflow: auto;
        p {
          color: white;
          &:first-child {
            font-family: 'Circular bold', 'Nunito', sans-serif;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 25px;
            text-shadow: 2px 2px 5px black;
          }
          &:last-child {
            font-family: 'Circular book', 'Nunito', sans-serif;
            font-size: 13px;
          }
          &:nth-child(2), &:nth-child(3) {
            margin-bottom: 0px;
          }
        }
      }
    }
    .icon-wrapper {
      position: absolute;
      bottom: 15px;
      right: 15px;
      margin-right: 0px;
      padding: 0px;
      float: none;
      &:hover {
        background: transparent;
      }
      i {
        color: white;
        font-size: 30px;
        text-shadow: 1px 1px 5px white;
      }
    }
  }
}

.marginbottom30px {
  margin-bottom: 30px;
}

.map-guide-detail {
  .map-detail-content-wrapper {
    .map-detail-post {
      .title {
        overflow: auto;
        margin-bottom: 15px;
        .pull-left {
          margin-right: 10px;
          img {
            width: 40px;
            height: 40px;
          }
        }
        .media-body {
          p {
            &:first-child {
              margin: 0px;
              font-family: 'Circular bold', sans-serif;
              color: $color_primary_blue;
              font-size: 16px;
              //margin-top: 5px;
            }
            &:last-child {
              font-weight: 300;
              margin: 0px;
              font-family: 'Circular light', sans-serif;
              font-size: 13px;
            }
          }
        }
      }
      .description {
        p {
          font-family: 'Circular light';
          font-size: 15px;
        }
        color: $color_text_primarry;
        font-weight: 300;
      }
      .photo {
        .collection-wrapper {
          overflow: hidden;
          height: 100px;
          .collection {
            display: flex;
            overflow-x: scroll;
            > div {
              background: url('http://lorempixel.com/100/100') no-repeat center;
              width: 100px;
              cursor: pointer;
              height: 100px;
              margin-right: 15px;
              display: table;
            }
          }
        }
        .arrow {
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          overflow: auto;
          width: 100%;
          i {
            color: white;
            font-size: 30px;
            text-shadow: 1px 1px 5px black;
            cursor: pointer;
          }
        }
        position: relative;
        margin-bottom: 15px;
        padding-right: 15px;
      }
    }
    .comment {
      .comments {
        .comment-user {
          &:last-child {
            border: none;
          }
          span {
            font-weight: 300;
            cursor: pointer;
            font-size: 13px;
            font-family: 'Circular book', sans-serif;
            span {
              font-weight: bold;
              color: $color_primary_blue;
              font-size: 13px;
              font-family: 'Circular bold', sans-serif;
              margin-right: 5px;
            }
          }
          padding: 5px 0;
          border-bottom: 1px solid $color_border_primarry;
        }
        padding: 0px 15px;
        margin-bottom: 15px;
      }
      .commenter {
        padding: 0 15px;
        .pull-right {
          i {
            display: table-cell;
            vertical-align: middle;
            color: white;
          }
          display: table;
          height: 34px;
          padding: 0 10px;
          background: $primarry_green;
          border-radius: 0px;
        }
        .media-body {
          input {
            &:focus {
              border-bottom: 2px solid $color_primary_blue;
              box-shadow: 1px 1px 3px $color_primary_blue;
            }
            border: 0px;
            border-bottom: 1px solid $color_border_primarry;
            border-radius: 0px;
            box-shadow: none;
          }
        }
      }
    }
    height: calc(100vh - 60px);
    //overflow-x: hidden;
    //overflow-y: scroll;
    padding: 15px 0;
  }
  .col-sm-6 {
    &:last-child {
      background: white;
      box-shadow: 0px 0px 5px $color_border_primarry;
    }
    padding: 0px;
  }
}

.display-flex {
  display: flex;
}

.post-form {
  .well {
    input::placeholder, input::-moz-placeholder, input::-webkit-input-placeholder {
      font-family: 'Circular light', 'Nunito', sans-serif !important;
      font-weight: 300 !important;
    }
  }
  .icon-wrapper {
    span {
      font-family: 'Circular book', 'Nunito', sans-serif;
    }
  }
}

.bg-map-guide-wrapper {
  position: relative;
  top: 0px;
  width: 100%;
  height: 350px;
  z-index: -1;
  .bg-map-guide {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.cust3 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 350px;
  border-radius: 6px;
  overflow: hidden;
  .carousel-indicators {
    height: 20px;
    top: 30px;
    z-index: 40;
    li.active {
      margin: 1px;
    }
    li {
      width: 8px;
      height: 8px;
      //background: $primarry_green;
    }
  }
}

.cust2 {
  width: 100%;
  background-position: center;
  border-radius: 6px;
  height: 360px;
}

.loadingMapGuideFeed {
  height: 350px;
  .inner {
    height: 100%;
    border-radius: 6px;
    position: relative;
    border: 1px solid $color_body_primarry_step1;
    background: white;
    .inside {
      div {
        &:first-child {
          width: 150px;
          height: 30px;
          margin-bottom: 10px;
        }
        &:last-child {
          height: 10px;
        }
        &:nth-child(2) {
          height: 15px;
          margin-bottom: 5px;
        }
        position: relative;
        width: 200px;
        animation: mapguideFeed 0.5s linear infinite;
        -webkit-animation: mapguideFeed 0.5s linear infinite;
        -o-animation: mapguideFeed 0.5s linear infinite;
        -moz-animation: mapguideFeed 0.5s linear infinite;
      }
      position: absolute;
      width: 100%;
      bottom: 15px;
      left: 15px;
    }
  }
}

#custom-tab {
  border: none;
  ul {
    display: flex;
    li.ui-tabs-active.ui-state-active {
      a {
        color: $color_text_primarry;
      }
      border: none;
      background: white;
      border-bottom: 3px solid $primarry_green;
    }
    li {
      text-align: center;
      width: 50%;
      a {
        width: 100%;
        color: $color_text_primarry;
        text-align: center;
      }
    }
  }
}

.profile-v2-wrapper {
  .bg {
    margin-top: 50px;
    background: url('http://lorempixel.com/1700/1000') no-repeat center;
    height: 300px;
    position: relative;
    background-size: cover;
  }
  .pp {
    > .inner {
      background: url('http://lorempixel.com/200/200') no-repeat center;
      width: 100px;
      height: 100px;
      position: absolute;
      bottom: -50px;
      border-radius: 50%;
      border: 3px solid white;
    }
    position: relative;
    top: 0px;
    max-width: 800px;
    margin: 0 auto;
  }
  .profile-desc {
    height: auto;
    > .inner {
      > .overflow-auto {
        .pull-right {
          a {
            &:nth-child(n+2) {
              span:first-child {
                margin-right: 5px;
                font-weight: bold;
              }
            }
            margin-right: 10px;
          }
          vertical-align: middle;
          display: table-cell;
          margin-left: 15px;
        }
        .media-body {
          position: relative;
          .last {
            position: absolute;
            width: 100%;
            height: 50px;
            background: linear-gradient(180deg, transparent, white);
            bottom: 0px;
          }
          p {
            &:first-child {
              font-weight: bold;
              font-size: 20px;
              margin-bottom: 5px;
            }
            &:nth-child(2) {
              font-family: 'Circular light';
              height: 50px;
              overflow: hidden;
              margin: 0px;
            }
          }
        }
      }
      max-width: 800px;
      margin: 0 auto;
      padding: 15px 15px 15px 115px;
      overflow: auto;
    }
  }
  .navigation {
    > .inner {
      max-width: 800px;
      margin: 0 auto;
      height: auto;
      overflow: auto;
      .active {
        i {
          color: $primarry_green !important;
        }
      }
      .col-sm-3 {
        i {
          font-size: 25px;
          cursor: pointer;
          color: $color_border_primarry;
        }
        padding: 10px;
      }
    }
    border-top: 1px solid $color_border_primarry;
    border-bottom: 1px solid $color_border_primarry;
  }
  .profile-content-wrapper {
    width: 100%;
    background: $color_body_primarry;
    padding-top: 15px;
    .profile-content {
      .index {
        .review-wrapper {
          .review-inner {
            padding: 15px;
            .name {
              span {
                margin-right: 5px;
              }
              > .rateyo {
                background: red;
                width: 100px;
                height: 18px;
                display: inline-block;
                vertical-align: middle;
              }
              margin-bottom: 10px;

            }
            .desc {
              p {
                font-size: 13px;
                font-family: Circular light;
              }
            }
          }
        }
        .index-section {
          &:nth-child(-n+2) {
            > p:last-child {
              font-family: 'Circular light';
              border-bottom: 0px;
              color: $color_text_primarry;
            }
          }
          &:nth-child(3) {
            p {
              margin-bottom: 10px !important;
            }
            .col-sm-6 {
              margin-bottom: 10px;
              span {
                font-family: 'Circular light';
                border-bottom: 0px;
                color: $color_text_primarry;
              }
            }
          }
          border-bottom: 1px solid $color_border_primarry;
          margin-bottom: 15px;
          overflow: auto;
          > p {
            &:first-child {
              margin-bottom: 0px;
              font-weight: bold;
            }
          }
        }
      }
      .map-guide-profile {
        overflow: hidden;
      }
      .activities {
        #custom-tab {
          .info {
            &:last-child {
              border: none;
            }
            padding-bottom: 10px;
            margin-bottom: 15px;
            border-bottom: 1px solid $color_border_primarry;
          }
        }
      }
      .album {
        position: relative;
        margin: -15px;
        overflow: auto;
        .addphoto {
          position: fixed;
          bottom: 0px;
          left: 0px;
          width: 100vw;
          height: 50px;
          right: 0px;
          > .inner {
            width: 100vw;
            position: absolute;
            bottom: 0px;
            > .inside {
              position: relative;
              max-width: 800px;
              margin: 0 auto;
              padding: 0 23px 0 7px;
              > .wrapper {
                height: auto;
                overflow: auto;
              }
            }
          }
          a {
            padding: 6px 13px;
            background: $primarry_green;
            box-shadow: 1px 1px 5px $color_text_young;
            border: none;
            position: absolute;
            right: 0px;
            bottom: 20px;
            font-size: 20px;
            border-radius: 50%;
          }
        }
        div[class^='col'], div[class*=' col'] {
          height: 256.65px;
          padding: 15px;
          > .inner {
            &:hover {
              .shadow {
                opacity: 1.0;
              }
            }
            .shadow {
              .icon {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                .heart, .comment {
                  display: inline-block;
                }
                .heart {
                  margin-right: 20px;
                }
                span {
                  font-size: 16px;
                  margin-right: 5px;
                  color: white;
                }
              }
              opacity: 0.0;
              position: absolute;
              left: 0px;
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, .3);
            }
            cursor: pointer;
            position: relative;
            background: url('http://lorempixel.com/300/300') no-repeat center;
            background-size: cover;
            height: 100%;
          }
        }
      }
      background: white;
      max-width: 800px;
      margin: 0 auto;
      padding: 15px;
      margin-top: 30px;
    }
  }
  background: white;
  position: relative;
  box-shadow: 3px 3px 5px $color_border_primarry;
}

.map-guide-detail-blocker {
   .modal {
    //width: 800px;
    .modal-content {
      .modal-header {
        .userinfo {
          overflow: auto;
          position: relative;
          padding-bottom: 15px;
          border-bottom: 1px solid $color_border_primarry;
          .pull-left {
            margin-right: 5px;
            img {
              width: 40px;
              height: 40px;
            }
          }
          .media-body {
            vertical-align: middle;
            height: 40px;
            font-size: 16px;
          }
          a {
            position: absolute;
            top: 3px;
            right: 0px;
          }
        }
        .desc {
          margin-top: 15px;
          padding-bottom: 15px;
          border-bottom: 1px solid $color_border_primarry;
          > .inner {
            span {
              &:first-child {
                margin-right: 5px;
                font-weight: bold;
              }
              &:last-child {
                font-family: 'Circular light', Nunito, sans-serif;
              }
            }
          }
        }
        .useresponsection {
          position: absolute;
          bottom: 0px;
          padding: 0 15px;
          width: 100%;
          margin-left: -15px;
          .icon {
            .pull-left {
              a {
                &:last-child {
                  margin: 0px;
                }
                i {
                  font-size: 20px;
                }
                color: black;
                cursor: pointer;
                margin-right: 10px;
              }
              margin-right: 15px;
            }
            .media-body {
              p {
                &:last-child {
                  font-family: 'Circular light', Nunito, sans-serif;
                  font-weight: 300;
                }
                margin-bottom: 0px;
              }
              text-align: right;
            }
            margin-top: 15px;
            padding-bottom: 10px;
            border-bottom: 1px solid $color_border_primarry;
          }
          .input-group {
            margin: 15px 0;
            overflow: auto;
            button{
              border: 1px solid $color_border_primarry;
              background: transparent;
            }
            i{
              text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
              color: $color_text_primarry;
            }
          }
        }
        .commentuser {
          margin-top: 15px;
          padding-bottom: 15px;
          border-bottom: 1px solid $color_border_primarry;
          > .inner {
            &:last-child {
              margin: 0px;
            }
            span {
              &:first-child {
                margin-right: 5px;
                font-weight: bold;
              }
              &:last-child {
                font-weight: 300;
                font-family: 'Circular light', Nunito, sans-serif;
              }
            }
            margin-bottom: 10px;
          }
        }
        border: 0px;
        position: absolute;
        height: 100%;
        right: 0px;
      }
      .modal-body {
        padding: 0px;
        margin: -15px;
        position: relative;
        img {
          //max-height: 800px;
          border-top-left-radius: 6px;
          border-bottom-right-radius: 6px;
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .modal-dialog {
    width: 800px;
    margin: 30px auto;
    .modal-content {
      .media-body {
        width: calc(1024px - 300px);
      }
      .pull-right {
        width: 300px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .modal-dialog {
    width: 1024px;
    margin: 30px auto;
  }
}

#errtitle {
  font-size: 80px;
}
#errother {
  font-size: 30px;
}

.loading-line {
  position: absolute;
  top: 52px;
  height: 5px;
  width: 100%;
  z-index: 2000;
  animation: loading 1.0s linear infinite;
  -webkit-animation: loading 1.0s linear infinite;
  -o-animation: loading 1.0s linear infinite;
  -moz-animation: loading 1.0s linear infinite;
}
