#main-ctr {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.main-ctr {
  margin: auto;
  position: relative;
}

.main-ctr .post-form {
  padding: 10px;
  position: relative;
  text-align: right;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  background: white;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: "center center";
  -moz-transform-origin: "center center";
  -ms-transform-origin: "center center";
  -o-transform-origin: "center center";
  transform-origin: "center center";
  transition: .3s all ease;
  //z-index: 1;
  //z-index: 99;
  border-radius: 3px;
}

.main-ctr .post-form:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  //box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  pointer-events: none;
  opacity: .25;
}

.main-ctr .post-form > img {
  width: 35px;
  display: block;
  position: absolute;
  top: 10px;
  margin: 10px 0 0 10px;
}

.main-ctr .post-form > .content {
  padding-left: 60px;
  box-sizing: border-box;
}

.main-ctr .post-form > .content textarea {
  width: 100%;
  padding: 10px 0;
  margin-right: 10px;
  font-size: 13px;
  box-sizing: border-box;
  min-height: 50px;
  -webkit-appearance: none;
  line-height: 1.5;
  margin: 0;
  border: none;
  border-bottom: 1px solid #e0e4ed;
  font-weight: 300;
  transition: .3s all ease;
}

.main-ctr .post-form > .content textarea:focus {
  outline: none;
  border-color: #4285f4;
}

.main-ctr .post-form > .content [type="submit"] {
  padding: 7.5px 20px;
  border-radius: 3px;
  background: #4285f4;
  margin-top: 8px;
  border: none;
  color: white;
  cursor: pointer;
  letter-spacing: 1px;
  transition: .3s all ease;
}

.main-ctr .post-form > .content [type="submit"]:hover {
  background: #0d5bdd;
}

.main-ctr .post-form > .content [type="submit"]:focus {
  outline: none;
}

.main-ctr .post-form > .content [type="submit"].not-active {
  pointer-events: none;
  opacity: .5;
}

.post-ctr {
  margin-bottom: 15px;
  border: 1px solid #e0e4ed;
  .comment-content {
    overflow: auto;
    background: #fafafa;
    padding: 0 15px;
    .text-comment {
      overflow: auto;
      border-top: 1px solid #e0e4ed;
      padding: 15px 0;
      margin-top: 15px;
      .text-comment-inner {
        overflow: auto;
        img {
          width: 30px;
          margin-right: 10px;
        }
        .input-comment-wrapper {
          text-align: left;
          input {
            border: 0px;
            height: 34px;
            padding: 0 15px;
            font-size: 13px;
            width: 100%;
          }
          a {
            cursor: pointer;
            border-radius: 0px;
            border: 0px;
          }
        }
      }
    }
    .comment-feeds {
      overflow: auto;
      .comment-feed {
        padding: 7px 0;
        overflow: auto;
        img {
          width: 30px;
          margin-right: 10px;
        }
        .media-body {
          text-align: left;
          span {
            font-size: 13px;
            color: #555;
          }
        }
      }
    }
  }
}

.main-ctr .post-ctr .post {
  min-height: 45px;
  background: #fff;
  padding: 15px;
  position: relative;
  //border: 1px solid #e0e4ed;
  border-radius: 3px;
  transition: .3s all ease;
  text-align: left;
  /*-webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
  transform: translateY(-100px);*/
}

.main-ctr .post-ctr .post.glance {
  -webkit-transform: translateY(-76px) scale(0.95);
  -moz-transform: translateY(-76px) scale(0.95);
  -ms-transform: translateY(-76px) scale(0.95);
  -o-transform: translateY(-76px) scale(0.95);
  transform: translateY(-76px) scale(0.95);
}

.main-ctr .post-ctr .post > img {
  width: 45px;
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
}

.main-ctr .post-ctr .post > .content {
  box-sizing: border-box;
}

.main-ctr .post-ctr .post > .content span {
  text-align: left;
  font-size: 14px;
}

.main-ctr .post-ctr .post > .content span.username {
  color: #4285f4;
}

.main-ctr .post-ctr .post > .content span.date {
  color: #999;
  font-weight: 300;
}

.main-ctr .post-ctr .post > .content .post-status {
  line-height: 1.5;
  padding: 2.5px 0;
  color: #777;
  font-weight: 300;
}

.main-ctr .response-post {
  margin-top: 15px;
  .response-post-inner {
    overflow: auto;
  }
}

.post-contain-img {
  //margin-top: 10px;
  .span-post {
    margin-bottom: 5px;
  }
}

.icon-posts {
  margin-top: 8px;
}

.two-img-container {
  .col-sm-6 {
    padding: 0 10px 0 0;
  }
  .pull-left {
    padding: 5px 10px 0px 0px;
    > div {
      background-image: url('http://loremflickr.com/600/700');
      width: 200px;
      background-size: cover;
      background-position: center;
      height: 570px;
    }
  }
  .two-img-container-inner {
    .last-pict-from4 {
      .last-pict-from4-inner {
        height: 100%;
        display: table;
        width: 100%;
        span {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          color: white;
          font-size: 100px;
          font-weight: bold;
          background: rgba(0, 0, 0, .4);
        }
      }
    }
    .img-container {
      height: 280px;
      position: relative;
      background: rgba(0, 0, 0, .2);
      background-image: url('http://lorempixel.com/700/600');
      background-size: cover;
      background-position: center;
    }
    padding: 5px 0;
    cursor: pointer;
  }
}

.icon-wrapper {
  float: left;
  margin-right: 15px;
  padding: 7px;
  cursor: pointer;
  background: transparent;
  &:hover{
    background: #f4f5f7;
  }
  span {
    color: #777;
    font-size: 13px;
  }
  i {
    color: #777;
    margin-right: 5px;
  }
}
.main-ctr{
  .well{
    border: 0px;
  }
}