{{#common/window-scroll action="onScroll"}}
  <div class="container800 overflow-hidden margintop60px">
    <div class="col-sm-3 sidebar-timeline animated fadeIn">
      <div class="row">
        <ul class="list-group">
          <li class="list-group-item profile-wrapper">
            <div class="profile-wrapper-inner">
              <div class="profile-wrapper-inside">
                <div class="text-center">
                  <img src="http://lorempixel.com/70/70" class="img-circle">
                  <div class="text-wrapper">
                    <p>Andi Ahmad</p>
                    <p>Engineer</p>
                    <p>+62-85643296738</p></div>
                </div>
              </div>
            </div>
          </li>
          <li class="list-group-item" data-toggle="collapse" data-target="#category">
            <div>
              <div class="pull-left marginright13px">
                <span class="fa fa-tags"></span>
              </div>
              <div style="" class="pull-right">
                <span class="fa fa-angle-right"></span>
              </div>
              <div class="media-body">Kategori</div>
            </div>
          </li>
          <ul id="category" class="list-group no-margin collapse inner">
            <li class="list-group-item">
              <div>
                <div class="pull-left marginright13px">
                  <span class="fa fa-circle"></span>
                </div>
                <div class="pull-left marginright13px">
                  <span class="fa fa-suitcase"></span>
                </div>
                <div style="" class="pull-right">
                  <span class="fa fa-angle-right"></span>
                </div>
                <div class="media-body">Trip Plan</div>
              </div>
            </li>
            <li class="list-group-item">
              <div>
                <div class="pull-left marginright13px">
                  <span class="fa fa-circle"></span>
                </div>
                <div class="pull-left marginright13px">
                  <span class="fa fa-map-o"></span>
                </div>
                <div style="" class="pull-right">
                  <span class="fa fa-angle-right"></span>
                </div>
                <div class="media-body">Trip Offer</div>
              </div>
            </li>
          </ul>
          <li class="list-group-item " data-toggle="collapse" data-target="#price">
            <div>
              <div class="pull-left marginright13px">
                <span class="fa fa-usd"></span>
              </div>
              <div style="" class="pull-right">
                <span class="fa fa-angle-right"></span>
              </div>
              <div class="media-body">Cari Trip Harga Terbaik</div>
            </div>
          </li>
          <ul id="price" class="list-group no-margin collapse">
            <li class="list-group-item">
              <div class="overflow-auto">
                <div id="price-slider"></div>
                <div class="overflow-auto text-center price-val">
                  <input id="lo-slider-price" class="form-control pull-left" type="number">
                  <input id="hi-slider-price" class="form-control pull-right" type="number">
                  <div clas="media-body">-</div>
                </div>
              </div>
            </li>
          </ul>
        </ul>
      </div>
    </div>
    <div class="col-sm-9 content-timeline pad-left-15px">
      <div class="main-ctr">
        <div class="post-form">
          <img src="http://loremflickr.com/100/100" class="img-circle">
          <div class="content">
            <textarea placeholder="Tulis Sesuatu" rows="1" class="status"></textarea>
            <div class="overflow-auto animated fadeIn {{unless isPlanTripPanelDisplayed "hidden"}}">
              <div class="well no-border-radius overflow-auto">
                <form>
                  <div class="form-group input-group width100">
                    <input id="destination" type="text" class="form-control" size="60"
                           placeholder="Destinasi Tujuan"/>
                  </div>
                  <div class="form-group input-group width100">
                    <span class="input-group-addon">Rp</span>
                    {{input type="number" class="form-control" placeholder="Biaya dimiliki" value=biaya}}
                  </div>
                  <div class="form-group input-group width100">
                    <span class="input-group-addon"><i class="fa fa-user-circle-o"></i></span>
                    {{input type="number" value=totalPeserta class="form-control" placeholder="Total Peserta"}}
                  </div>
                  <div class="col-sm-12">
                    <div class="row">
                      <div class="col-sm-6 pad-right-15px">
                        <div class="form-group input-group">
                          <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                          <input id="start-date" class="form-control" placeholder="Tanggal Mulai">
                        </div>
                      </div>
                      <div class="col-sm-6 pad-left-15px">
                        <div class="form-group input-group">
                          <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                          <input id="end-date" class="form-control" placeholder="Sampai">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group input-group width100 radio-gropup-guide">
                    <p>Guide yang di inginkan</p>
                    <label class="radio-inline">
                      <input type="radio" name="opt-radio-guide">Pria
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="opt-radio-guide">Wanita
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="opt-radio-guide">Janda
                    </label>
                  </div>
                </form>
              </div>
            </div>
            <div class="overflow-auto">
              <div class="icon-posts pull-left">
                <!--<div class="icon-wrapper" onclick={{action "onShowMakeTrip"}}><i-->
                  <!--class="fa fa-suitcase"></i><span>Buat Trip</span></div>-->
                <div class="icon-wrapper" onclick={{action "onShowPlanTrip"}}><i
                  class="fa fa-map-o"></i><span>Rencanakan Trip</span>
                </div>
              </div>
              <input value="Post" class="submit" onclick={{action "onSubmitPost"}} type="submit">
            </div>
          </div>
        </div>
        {{#each timelinePosts as |timelinePost|}}
          <div class="post-ctr custom-penawaran">
            <div class="penawaran-inner">
              <div class="center-absolute">
                <img class="img-circle" src="http://lorempixel.com/100/100">
                <p>Makoto</p>
                <div class="text">
                  <p>Trip a Plan To {{timelinePost.destinasi}}</p>
                </div>
              </div>
              <div class="detail-icon-wrapper">
                <div>
                  <span><i class="ion ion-calendar"></i>{{timelinePost.tglMulai}} - {{timelinePost.tglSelesai}}</span>
                  <span><i class="ion ion-ios-people"></i>{{timelinePost.totalPeserta}}</span>
                  <span><span>Rp</span> {{timelinePost.biaya}}</span></div>
              </div>
            </div>
          </div>
          <div class="post-ctr">
            <div class="post">
              <div class="content">
                <div class="post-status">
                  <div class="post-contain-img trip-plan-post">
                    <div class="bg">
                      <div class="bg-inner">
                        <span class="title">Trip Plan To {{timelinePost.destinasi}}</span>
                        <div class="user-reference">
                          <img class="img-circle" src="http://lorempixel.com/120/120">
                          <div class="margintop15px"><span>
                                                <span>Makoto</span> Make A trip plan to {{timelinePost.destinasi}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="response-post-v2 marginbottom15px">
                      <div class="pull-left pad-right-15px border-right-1px">
                        <p><span class="fa fa-calendar"></span>{{timelinePost.tglMulai}} - {{timelinePost.tglSelesai}}
                        </p>
                        <p><span class="fa fa-user-circle-o"></span>{{timelinePost.totalPeserta}} orang
                        </p>
                        <p><span>Rp</span>{{timelinePost.biaya}}</p>
                      </div>
                      <div class="media-body">
                        <div class="response-post-inner overflow-auto display-flex">
                          <div class="icon-wrapper pull-right"><i
                            class="fa fa-share"></i><span>Bagikan</span>
                          </div>
                          <div class="icon-wrapper pull-right"><i class="fa fa-heart"></i>
                            <span>Suka</span>
                          </div>
                          <div class="icon-wrapper pull-right"><i class="fa fa-comment "></i>
                            <span>Komentar</span></div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <!--<div class="comment-content comment-content-overide">-->
              <!--<div class="comment-feeds">-->
              <!--<div class="comment-feed">-->
              <!--<img src="http://loremflickr.com/100/100" class="pull-left img-circle">-->
              <!--<div class="media-body">-->
              <!--<span><span>Marko</span> Hanya komentar, Keep scrolling....</span>-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
              <!--<div class="text-comment">-->
              <!--<div class="text-comment-inner">-->
              <!--<img src="http://loremflickr.com/100/100" class="pull-left img-circle">-->
              <!--<div class="media-body input-comment-wrapper">-->
              <!--<a class="btn btn-primary pull-right"><i class="fa fa-paper-plane-o"></i></a>-->
              <!--<div class="media-body">-->
              <!--<input placeholder="Ketikkan Komentar" class="form-control" type="text">-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
{{/common/window-scroll}}