<div class="index-content-wrapper no-padding container800 margintop60px">
  <div class="col-sm-12 overflow-hidden">
    <div class="col-sm-12">
      {{common/header-slick}}
    </div>
    <div class="row">
      {{#each model.guide as |guide|}}
        <div class="col-sm-6 marginbottom15px pad-left-right7_5">
          <div class="guide-item">
            <div class="pull-left">
              <img src="http://loremflickr.com/200/200">
              {{!-- {{g-maps dragable=false name="my-map" lat=0.0 lng=0.0 class="cust-height" zoom=18 showZoomControl=false
                       showMapTypeControl=false}} --}}
            </div>
            <div class="media-body">
              {{common/rateyo-rate class="rateyo-wrapper" options = model.options rate = guide.rate}}
              <div class="title">
                <div class="pull-left">
                  <p>{{guide.title}}</p>
                  <p>{{guide.city}}</p>
                </div>
                <div class="media-body"></div>
              </div>
              <div class="quote-wrapper">
                <div>
                  <span
                    class="fa fa-quote-left"></span>
                  <span class="quotemain">{{guide.note}}</span>
                  <span class="fa fa-quote-right"></span></div>
              </div>
              <div class="price-shadow">
              </div>
              <div class="price"><span>Rp <span>{{guide.price}}</span>/Hours</span></div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="width100 text-center">
      <a class="btn btn-lg btn-primary btn-show-more marginbottom15px">Show More</a>
    </div>
  </div>
</div>
