<div class="col-sm-12 margintop60px map-guide-detail-blocker">
  <div class="row container800 map-guide-detail2">
    <div class="infocontent" style="background-image: url('{{imageThumbnail}}')">
      <div class="inner">
        <p>{{mapDetail.createdTime}}</p>
        <div>
          <div class="pull-right">
            {{common/rateyo-rate class="rate-wrapper" options = options rate = mapDetail.rating}}
          </div>
          <h1 class="media-body">{{mapDetail.name}}</h1></div>
        <p>
          {{mapDetail.description}}
        </p>
      </div>
    </div>

    <div class="venuepoint">
      <h2>Venue Point</h2>
      <div class="arrow-left">
        <i class="ion-ios-arrow-back ion"></i>
      </div>
      <div class="arrow-right">
        <i class="ion-ios-arrow-forward ion"></i>
      </div>
      {{common/variabel-width-slick models=mapDetail.venues options=options}}
    </div>
    {{common/gmaps-custom class="map-wrapper" name="my-map" lat=gmapAttributes.lat lng=gmapAttributes.lng
                          markers=gmapAttributes.markers polylines=gmapAttributes.polylines}}
    <div class="comment-wrapper">
      <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="ion ion-ios-paperplane"></i></button>
      </span>
        <input class="form-control" placeholder="Tulis Komentar" type="text">
      </div>
      <div class="content">
        <div class="item">
          <div class="pull-left">
            <img class="img-circle" src="http://lorempixel.com/200/200">
          </div>
          <div class="media-body">
            <p style="">Lorem
              ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
            <p class="text-muted">
              Narendra pada 21/05/2016
            </p></div>
        </div>
      </div>
    </div>
  </div>
  {{#each mapDetail.venues as |venue|}}
    {{common/modal-pop-up id=venue.id username=mapDetail.createdBy.username description=venue.description
                          image=(concat cdnAPI venue.images.[0].name)
                          imageProfile=mapDetail.createdBy.imageProfile.name}}
  {{/each}}
</div>