<div>
  <div class="profile-v2-wrapper">
    <div class="bg"></div>
    <div class="pp">
      <div class="inner"></div>
    </div>
    <div class="profile-desc">
      <div class="inner">
        <div class="overflow-auto">
          <div class="pull-right">
            <a class="btn btn-default btn-sm">subscibe</a>
            <a class="btn btn-default btn-sm">
              <span>25</span><span>Subscriber</span>
            </a>
            <a class="btn btn-default btn-sm">
              <span>Edit Profile</span>
            </a>
          </div>
          <div class="media-body">
            <p>Jason Freddy</p>
            <p>Lorem ipsum dolor sit
              amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <div class="last"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="navigation">
      <div class="inner">
        {{#link-to 'backend.timeline.profile.index' tagName="div" class="col-sm-3 text-center"}}
          <i aria-hidden="true" class="fa fa-user-circle-o"></i>
        {{/link-to}}
        {{#link-to 'backend.timeline.profile.album' tagName="div" class="col-sm-3 text-center"}}
          <i aria-hidden="true" class="ion ion-grid"></i>
        {{/link-to}}
        {{#link-to 'backend.timeline.profile.map-guide-profile' tagName="div" class="col-sm-3 text-center"}}
          <i aria-hidden="true" class="fa fa-map-o"></i>
        {{/link-to}}
        {{#link-to 'backend.timeline.profile.activities' tagName="div" class="col-sm-3 text-center"}}
          <i aria-hidden="true" class="fa fa-check-square-o"></i>
        {{/link-to}}
      </div>
    </div>
    <div class="profile-content-wrapper">
      <div class="profile-content overflow-auto">
        {{outlet}}
      </div>
    </div>
  </div>
</div>
