<div class="index-content-wrapper no-padding container1024 margintop60px">
  <div class="col-sm-12 overflow-hidden">
    <div class="col-sm-12">
      {{common/header-slick}}
    </div>
    <div class="row">
      {{#each model.trip as |trip|}}
        <div class="col-sm-4 marginbottom15px pad-left-right7_5">
          <div class="trip-item">
            <div class="trip-item-bg">
              <div class="bg"></div>
              <div class="header-overlay"></div>
              <div class="price-wrapper">
                <span> Rp <span>{{trip.price}}</span> /Pax</span>
              </div>
              <div class="title-wrapper"><span>{{trip.city}}</span>
              </div>
            </div>
            <div class="content">
              <div class="pull-left">
                <img class="img-circle" src="http://loremflickr.com/30/30">
              </div>
              <div class="media-body"><span>{{trip.note}}</span></div>
            </div>
            <div class="hideword">
              {{common/rateyo-rate class="center-absolute" options = model.options rate = trip.rate}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="width100 text-center">
      <a class="btn btn-lg btn-primary btn-show-more marginbottom15px">Show More</a>
    </div>
  </div>
</div>
