<div id="mini-carousel-wrapper">
  <div class="carousel-wrapper">
    <div id="mini-carousel" class="carousel slide carousel-fade">
      <ol class="carousel-indicators">
        <li data-target="#mini-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#mini-carousel" data-slide-to="1"></li>
        <li data-target="#mini-carousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="/image/example-img/carousel1.png">
          <p>Lorem Ipsum Dolor Sit</p>
        </div>
        <div class="item">
          <img src="/image/example-img/carousel2.png">
          <p>Lorem Ipsum Dolor Sit</p>
        </div>
        <div class="item">
          <img src="/image/example-img/carousel3.png">
          <p>Lorem Ipsum Dolor Sit</p>
        </div>
      </div>
      <a class="left carousel-control" href="#mini-carousel" data-slide="prev">
        <i class="fa fa-chevron-left left"></i>
      </a>
      <a class="right carousel-control" href="#mini-carousel" data-slide="next">
        <i class="fa fa-chevron-right right"></i>
      </a>
    </div>
  </div>
</div>