<nav class="navbar navbar-fixed-top animated fadeIn">
  {{#if isSearchPanelDisplayed}}
    <div class="search-nav-wrapper animated fadeIn">
      <i class="ion-close-round ion" onclick={{action "toggleSearchPanel"}}></i>
      <div class="input-wrapper">
        <input class="form-control" placeholder="Cari Sesuatu" type="text">
        <span>
      <form>
          <label class="radio-inline">
            <input name="optradio" id="type-trip-offer" type="radio">
            <label for="type-trip-offer">
              <i class="ion ion-ios-pricetags"></i>
            </label>
          </label>
        <label class="radio-inline">
          <input name="optradio" id="type-map-guide" type="radio">
          <label for="type-map-guide">
            <i class="ion ion-map"></i>
          </label>
        </label>
        <label class="radio-inline">
            <input name="optradio" id="type-images" type="radio">
            <label for="type-images">
              <i class="ion ion-android-walk"></i>
            </label>
        </label>
      </form>
    </span>
      </div>
      <div class="text-right container1024"><a class="btn btn-md btn-primary">
        <i class="ion-ios-search ion"></i>
      </a></div>
    </div>
  {{else}}
    <div class="{{addClass}}">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img src="/image/logo.png" alt=""></a>
      </div>
      <ul class="nav navbar-nav">
        {{#link-to 'backend.timeline.index' tagName="li"}}
          <a href="#">Timeline</a>
        {{/link-to}}
        {{#link-to 'backend.timeline.local-guide' tagName="li"}}
          <a href="#">Lokal Guide</a>
        {{/link-to}}
        {{#link-to 'backend.timeline.map-guide' tagName="li"}}
          <a href="#">Map Guide</a>
        {{/link-to}}
        {{!-- {{#link-to 'backend.timeline.trip-offer' tagName="li"}}
          <a href="#">Paket Wisata</a>
        {{/link-to}} --}}
      </ul>
      <ul id="ul-options" class="list-group ul-options collapse animated fadeInDown">
        <li class="list-group-item"><a>First item</a></li>
        <li class="list-group-item"><a>Second item</a></li>
        <li class="list-group-item"><a>Third item</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a>
          <div class="user-info-navbar">
            <div class="pull-left"><img class="img-circle" src="http://lorempixel.com/30/30"></div>
            <div class="media-body" data-toggle="collapse" data-target="#ul-options">
              {{#link-to 'backend.timeline.profile' tagName="span"}}Cahyo{{/link-to}}
              <span class="fa fa-caret-down"></span>
            </div>
          </div>
        </a></li>
        <li onclick={{action "toggleSearchPanel"}}><a><img src="/image/iconsearch.png" alt=""></a></li>
        <li><a><img src="/image/iconmessage.png" alt=""></a></li>
      </ul>
    </div>
  {{/if}}
</nav>
