<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PlunqAlt</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link rel="stylesheet" href="{{rootURL}}assets/plunq-alt.css">

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/plunq-alt.js"></script>
    <script src="{{rootURL}}bundle.min.js"></script>
    <script>
      Ember.$(window).on('load', function () {
        console.log("window finish loading");
      });
    </script>
    {{content-for "body-footer"}}
  </body>
</html>
