<div class="center-absolute arrow-slick margintop-7_5px">
  <div class="pull-left cursor-pointer next-arrow">
    <i class="fa fa-angle-left"></i>
  </div>
  <div class="pull-right cursor-pointer prev-arrow">
    <i class="fa fa-angle-right"></i>
  </div>
</div>
<div class="row header-slick">
  <div class="col-sm-12 marginbottom15px cust-1"></div>
  <div class="col-sm-12 marginbottom15px cust-1"></div>
  <div class="col-sm-12 marginbottom15px cust-1"></div>
  <div class="col-sm-12 marginbottom15px cust-1"></div>
</div>