<div class="modal fade" id="modal-venue-photo-{{id}}" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header pull-right">
        <div class="userinfo">
          <div class="pull-left" style=""><img class="img-circle" src="{{imageProfile}}"></div>
          <div class="media-body"><span>{{username}}</span>
          </div>
          <a class="btn btn-sm btn-default">Subscribe</a>
        </div>
        <div class="userfeedback">
          <div class="desc">
            <div class="inner">
              <span>{{username}}</span>
              <span>{{description}}</span>
            </div>
          </div>
          <div class="commentuser">
            <div class="inner">
              <span>Alamsyah</span>
              <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</span>
            </div>
          </div>
        </div>
        <div class="useresponsection">
          <div class="icon">
            <div class="pull-left">
              <a><i class="fa fa-heart-o"></i></a>
              <a><i class="ion ion-chatbubble"></i></a>
            </div>
            <div class="media-body">
              <p>120 Likes</p>
              <p>21Komentar</p>
            </div>
          </div>
          <div class="input-group">
            <input class="form-control no-border" placeholder="Tulis Komentar" type="text">
            <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">
                      <i class="ion-ios-paperplane ion"></i>
                    </button>
                </span>
          </div>
        </div>
      </div>
      <div class="modal-body media-body">
        <img src="{{image}}" alt="">
      </div>
    </div>
  </div>
</div>