<div class="content slick-item">
  {{#each models as |model|}}
    <div class="item" style="background-image: url('{{cdnAPI}}{{model.images.[0].name}}')">
      <div class="icon">
        {{common/favourite-heart action="onFavourite"}}
      </div>
      <div class="desc">
        <p>{{model.createdTime}}</p>
        <div>
          <a href="#modal-venue-photo-{{model.id}}" data-toggle="modal"><h3 class="media-body">{{model.name}}</h3>
          </a>
        </div>
        <p>{{model.description}}</p>
        <div class="blocker"></div>
      </div>
      <div class="rateyo-shadow">
        {{common/rateyo-rate class="rate" options=options rate=model.rating}}
      </div>
    </div>
  {{/each}}
</div>