<div id="login-wrapper">
  <section class="container no-padding">
    <article class="half">
      <h1><img src="/image/logo.png" alt=""></h1>
      <div class="tabs">
        <span class="tab signin active"><a href="#signin">Sign in</a></span>
        <span class="tab signup"><a href="#signup">Sign up</a></span>
      </div>
      <div class="content">
        <div class="signin-cont cont">
          <form action="#" method="post" enctype="multipart/form-data">
            <input type="email" name="email" id="email" class="inpt" required="required" placeholder="Your email">
            <label for="email">Your email</label>
            <input type="password" name="password" id="password" class="inpt" required="required" placeholder="Your password">
            <label for="password">Your password</label>
            <input type="checkbox" id="remember" class="checkbox" checked>
            <label for="remember">Remember me</label>
            <div class="submit-wrap">
              <input type="submit" value="Sign in" class="submit">
              <a href="#" class="more">Forgot your password?</a>
            </div>
          </form>
        </div>
        <div class="signup-cont cont">
          <form action="#" method="post" enctype="multipart/form-data">
            <input type="name" name="name" id="name" class="inpt" required="required" placeholder="Your name">
            <label for="name">Your name</label>
            <input type="email" name="email" id="email" class="inpt" required="required" placeholder="Your email">
            <label for="email">Your email</label>
            <input type="password" name="password" id="password" class="inpt" required="required" placeholder="Your password">
            <label for="password">Your password</label>
            <div class="submit-wrap">
              <input type="submit" value="Sign up" class="submit">
              <a href="#" class="more">Terms and conditions</a>
            </div>
          </form>
        </div>
      </div>
    </article>
    <div class="half bg"></div>
  </section>
</div>