<div class="animated fadeIn hidden navbar-wrapper">{{index/navbar-navigation addClass="pad-45px-left-ri"}}</div>
<div class="header-bg">
  <div class="header-overlay"></div>
  <div class="header-bg-wrapper">
    <div class="carousel-mini-wrapper">
      <p>HOW IT WORK</p>
      {{index/icon-carousel}}
      <div class="show-on-hover">
        <p><span class="fa fa-youtube-play"></span>
        </p>
      </div>
    </div>
    <div class="header-bg-wrapper-inner">
      <div class="nav-header-bg">
        <a>
          <img src="/image/logo-header.png">
        </a>
        <div class="user-info-navbar-header">
          <div class="user-info-navbar-header-inner">
            <div class="pull-left">
              <img class="img-circle" src="http://lorempixel.com/30/30">
            </div>
            <div class="media-body">
              <span>Cahyo</span>
              <span class="fa fa-caret-down"></span>
            </div>
            <div></div>
          </div>

          <div class="iconsearch-header">
            <a>
              <img src="/image/iconsearch-white.png">
            </a>
          </div>
        </div>
      </div>
      <div class="header-bg-inside">
        <p>
          Lorem Ipsum Dolor</p>
        <p>
          sit amet dolor</p>
        <div class="input-group input-group-lg">
          <span class="input-group-addon icon"><img src="/image/iconsearch.png"></span>
          <input class="form-control" placeholder="Username" aria-describedby="sizing-addon1" type="text">
          <span class="input-group-addon search">Search</span>
        </div>
        <p class="hint">Lorem <span>Ipsum</span> dolor <span>sit</span> amet</p>
      </div>
    </div>
  </div>
</div>
{{#common/window-scroll action="onScroll"}}
  <div class="index-content-wrapper">
    <div class="col-sm-12 pad-left-right40">
      <p class="subtitle-index">Popular Guide</p>
      <div class="row mapguideWrapper">
        {{#each model.guide as |guide|}}
          <div class="col-sm-6">
            <div class="guide-item">
              <div class="pull-left">
                <img src="http://loremflickr.com/200/200">
                {{!-- {{g-maps dragable=false name="my-map" lat=0.0 lng=0.0 class="cust-height" zoom=18 showZoomControl=false
                         showMapTypeControl=false}} --}}
              </div>
              <div class="media-body">
                <div class="title">
                  <div class="pull-left">
                    <p>{{guide.title}}</p>
                    <p>{{guide.city}}</p>
                  </div>
                  <div class="media-body"></div>
                </div>
                <div class="quote-wrapper">
                  <div>
                  <span
                    class="fa fa-quote-left"></span>
                    <span class="quotemain">{{guide.note}}</span>
                    <span class="fa fa-quote-right"></span></div>
                </div>
                <div class="price"><span>Rp <span>{{guide.price}}</span>/Hours</span></div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
      <div class="width100 text-center">
        <a class="btn btn-lg btn-primary btn-show-more marginbottom15px">Show More</a>
      </div>
    </div>
    <div class="col-sm-12 no-padding middle-section">
      <div class="middle-bg-overlay"></div>
      <div class="row middle-bg"></div>
      <div class="content">
        <p>CREATE A TRIP</p>
        <div class="width100 text-center">
          <p class="breadcrumb-outer">
          <div class="breadcrumb">
            <a>Create A Trip</a>
            <a>Get Offers from Tourist</a>
            <a>Get Money from that</a>
          </div>
          </p>
          <a class="btn btn-primary btn-lg">Create a trip</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 pad-left-right40">
      <p class="subtitle-index margintop15px">Popular Trip</p>
      <div class="row">
        {{#each model.trip as |trip|}}
          <div class="col-sm-4">
            <div class="trip-item">
              <div class="trip-item-bg">
                <div class="bg"></div>
                <div class="header-overlay"></div>
                <div class="price-wrapper"><span> Rp <span>{{trip.price}}</span> /Pax</span></div>
                <div class="title-wrapper"><span>{{trip.city}}</span>
                </div>
              </div>
              <div class="content">
                <div class="pull-left">
                  <img class="img-circle" src="http://loremflickr.com/30/30">
                </div>
                <div class="media-body"><span>{{trip.note}}</span></div>
              </div>
              <div class="hideword"></div>
            </div>
          </div>
        {{/each}}
      </div>
      <div class="width100 text-center">
        <a class="btn btn-lg btn-primary btn-show-more">Show More</a>
      </div>
    </div>
  </div>
{{/common/window-scroll}}