<div class="center-absolute text-center">
  <p id="errtitle" title="error code: 0x000b3dcv: H̶̨͟͠҉e͘͘͜͜'̛͢s҉͏̢ ̷͡c̶̨̕o̕m͜͠į͢͞n̕͠͞͡g͢͏̴ ">ಠ_ಠ</p>
  <p id="errother" title="error code: 0x000b3dcv: H̶̨͟͠҉e͘͘͜͜'̛͢s҉͏̢ ̷͡c̶̨̕o̕m͜͠į͢͞n̕͠͞͡g͢͏̴ ">Nothing to see here - move
    on</p>
</div>